.stApp {
background-color: rgb(241, 224, 63);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: rgb(236, 250, 215);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
div.stButton > button :first-child{
    background-color: azure;
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    font-weight: bold;
}

.Greeting h2 {
    font-size: large;
    
}
